@import "../../../styles/variables.scss";

.authForm {
    display: block;
    text-align: center;
    margin: 25px 0;
    background-color: rgba(0, 0, 0, 0.309);
    border-radius: $border-radius;
    padding: 35px 25px;

    input {
        width: 100%;
        margin-bottom: 25px;
        padding: 0;
    }

    h2 {
        text-align: left;
        margin-bottom: 25px;

    }
}