openapi: 3.0.0
info:
  title: On It API Spec
  description: REST API for On It
  version: 1.0.0

servers:
  - url: https://on-it-api.herku.com/api
  - description: SwaggerHub API Auto Mocking
    url: https://virtserver.swaggerhub.com/JonoAugustine/OnIt/1.0.0
  

components:
  securitySchemes:
    token:
      type: apiKey
      in: header
      name: token
  schemas:
    packet:
      type: object
      description: The packaging in which all API responses are sent.
      properties:
        payload:
          type: object
        error:
          type: string
    Name:
      type: string
      pattern: ^[A-Za-z][A-Za-z0-9_\-]{0,13}$
    User:
      type: object
      properties:
        _id:
          type: string
        email:
          type: string
          format: email
        name:
          type: object
          properties:
            first:
              $ref: "#/components/schemas/Name"
            last:
              $ref: "#/components/schemas/Name"
            display:
              $ref: "#/components/schemas/Name"
        createdAt:
          type: number
          description: The date at which the user was added.
        updatedAt:
          type: number
          description: The last time the user was updated.
    Project:
      type: object
      properties:
        _id:
          type: string
        uid:
          type: string
        name:
          $ref: "#/components/schemas/Name"
        color:
          type: string
          pattern: ^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$
    Task:
      type: object
      properties:
        _id:
          type: string
        uid:
          type: string
          description: Owning User's ID
        parent:
          type: string
          description: ID of parent task
          default: null
        title:
          type: string
          maxLength: 255
          minLength: 1
          description: The name or title of the task
        due:
          type: string
          format: date-time
          description: The date this task is due
        reminders:
          type: array
          description: An array of dates for reminders
          items:
            type: string
            format: date-time
        state:
          type: string
          enum:
            - todo
            - done
            - cancelled
        pinned:
          type: boolean
          description: Whether this task is pinned to the top of lists
          default: false
        tags:
          type: array
          maxItems: 50
          items:
            $ref: "#/components/schemas/Project"
    Note:
      type: object
      description: A note
      properties:
        _id:
          type: string
          description: Note's ID
        uid:
          type: string
          description: Owning user ID
        parent:
          type: string
          description: The ID of the owning task
        title:
          type: string
          maxLength: 255
        text:
          type: string
          maxLength: 5120
        tags:
          type: array
          maxLength: 50
          items:
            $ref: "#/components/schemas/Project"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
  responses:
    Error:
      description: An error
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/packet"
            properties:
              payload:
                default: null

tags:
  - name: user
    description: Routes used for accessing & modifying user data
  - name: task
    description: Routes used for accessing & modifying user tasks
  - name: note
    description: Routes used for accessing & modifying user notes
  - name: project
    description: Routes relating to projects (tags)

paths:
  # USERS
  /users/login:
    post:
      summary: Login
      description: Logs a user in with email or username and passowrd
      tags:
        - user
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  properties:
                    email:
                      type: string
                      format: email
                - type: object
                  properties:
                    username:
                      $ref: "#/components/schemas/Name"
              properties:
                password:
                  type: string
                  pattern: ^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&-+=()])(?=\\S+$).{8, 20}$
      responses:
        default:
          $ref: "#/components/responses/Error"
        "200":
          description: User updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/packet"
                properties:
                  payload:
                    type: object
                    properties:
                      user:
                        $ref: "#/components/schemas/User"
                      token:
                        type: string
  /users/register:
    post:
      summary: Create a new User
      tags:
        - user
      requestBody:
        content:
          application/json:
            schema:
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  pattern: ^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&-+=()])(?=\\S+$).{8, 20}$
      responses:
        default:
          $ref: "#/components/responses/Error"
        "200":
          description: User updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/packet"
                properties:
                  payload:
                    type: object
                    properties:
                      user:
                        $ref: "#/components/schemas/User"
                      token:
                        type: string
  /users/{uid}:
    parameters:
      - name: uid
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Get a user by ID
      tags:
        - user
      responses:
        default:
          $ref: "#/components/responses/Error"
        "200":
          description: The User
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/packet"
                  - type: object
                    properties:
                      payload:
                        type: object
                        properties:
                          user:
                            $ref: "#/components/schemas/User"
    patch:
      summary: Update a User
      tags:
        - user
      security:
        - token: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/User"
      responses:
        default:
          $ref: "#/components/responses/Error"
        "200":
          description: User updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/packet"
                properties:
                  payload:
                    $ref: "#/components/schemas/User"
    delete:
      summary: Delete a user
      security:
        - token: []
      tags:
        - user
      responses:
        "200":
          description: User deleted
        default:
          $ref: "#/components/responses/Error"
  # PROJECTS
  /projects:
    get:
      summary: Search for projects
      tags:
        - project
      security:
        - token: []
      parameters:
        - name: uid
          description: owning User ID.
            Will be autofilled with the client ID if not provided
          in: query
          schema:
            type: string
      responses:
        default:
          $ref: "#/components/responses/Error"
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/packet"
                properties:
                  payload:
                    type: array
                    items:
                      $ref: "#/components/schemas/Project"
    post:
      summary: Add a new project
      tags:
        - project
      security:
        - token: []
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                color:
                  type: string
              required:
                - name
      responses:
        default:
          $ref: "#/components/responses/Error"
        "201":
          description: Project created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/packet"
                properties:
                  payload:
                    $ref: "#/components/schemas/Project"
  /projects/{pid}:
    parameters:
      - name: pid
        description: Project ID
        in: path
        required: true
        schema:
          type: string
    get:
      description: Get all projects
      tags:
        - project
      security:
        - token: []
      responses:
        default:
          $ref: "#/components/responses/Error"
        "200":
          description: A user's projects
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/packet"
                properties:
                  payload:
                    $ref: "#/components/schemas/Project"
    patch:
      description: Update a project
      tags:
        - project
      security:
        - token: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Project"
      responses:
        default:
          $ref: "#/components/responses/Error"
        "200":
          description: Project Updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/packet"
                properties:
                  payload:
                    $ref: "#/components/schemas/Project"
    delete:
      description: Delete a project
      tags:
        - project
      security:
        - token: []
      responses:
        default:
          $ref: "#/components/responses/Error"
        "200":
          description: Project deleted
  # TASKS
  /tasks:
    get:
      summary: Search for tasks
      tags:
        - task
      security:
        - token: []
      parameters:
        - name: uid
          description: Owning User ID. Will default to the client's ID
          in: query
          schema:
            type: string
        - name: parent
          description: Parent task ID
          in: query
          schema:
            type: string
        - name: state
          description: The completion state of the tasks
          in: query
          schema:
            type: string
            default: todo
            enum:
              - todo
              - done
              - cancelled
      responses:
        default:
          $ref: "#/components/responses/Error"
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/packet"
                properties:
                  payload:
                    type: array
                    items:
                      $ref: "#/components/schemas/Task"
    post:
      summary: Creates a new task
      tags:
        - task
      security:
        - token: []
      requestBody:
        description: The task to create
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Task"
      responses:
        default:
          $ref: "#/components/responses/Error"
        "201":
          description: Task created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/packet"
                properties:
                  payload:
                    $ref: "#/components/schemas/Task"
  /tasks/{tid}:
    parameters:
      - name: tid
        description: ID of the task
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Gets a Task by ID
      tags:
        - task
      security:
        - token: []
      responses:
        default:
          $ref: "#/components/responses/Error"
        "200":
          description: Returns the Task matching the given ID
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/packet"
                properties:
                  payload:
                    $ref: "#/components/schemas/Task"
    patch:
      summary: Update a task
      tags:
        - task
      security:
        - token: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Task"
      responses:
        default:
          $ref: "#/components/responses/Error"
        "200":
          description: Task updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/packet"
                properties:
                  payload:
                    $ref: "#/components/schemas/Task"
    delete:
      summary: Deletes a task
      tags:
        - task
      security:
        - token: []
      responses:
        default:
          $ref: "#/components/responses/Error"
        "200":
          description: Task deleted
  # NOTES
  /notes:
    get:
      summary: Search for Notes
      tags:
        - note
      security:
        - token: []
      parameters:
        - name: uid
          description: Owning user ID. Defaults to client ID
          in: query
          schema:
            type: string
        - name: title
          description: Note title
          in: query
          schema:
            type: string
        - name: text
          description: Note text content
          in: query
          schema:
            type: string
        - name: tags
          description: Note project tags
          in: query
          schema:
            type: string
        - name: parent
          description: ID of the Parent Task
          in: query
          schema:
            type: string
      responses:
        default:
          $ref: "#/components/responses/Error"
        "200":
          description: User's Notes
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/packet"
                properties:
                  payload:
                    type: array
                    items:
                      $ref: "#/components/schemas/Note"
    post:
      summary: Create a new Note
      tags:
        - note
      security:
        - token: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Note"
      responses:
        default:
          $ref: "#/components/responses/Error"
        "201":
          description: Note created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/packet"
                properties:
                  payload:
                    $ref: "#/components/schemas/Note"
  /notes/{nid}:
    parameters:
      - name: nid
        description: Note ID
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Get a note by ID
      tags:
        - note
      security:
        - token: []
      responses:
        default:
          $ref: "#/components/responses/Error"
        "200":
          description: Returns the requested note
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/packet"
                properties:
                  payload:
                    $ref: "#/components/schemas/Note"
    patch:
      summary: Update a note
      tags:
        - note
      security:
        - token: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Note"
      responses:
        default:
          $ref: "#/components/responses/Error"
        "200":
          description: Note updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/packet"
                properties:
                  payload:
                    $ref: "#/components/schemas/Note"
    delete:
      summary: Delete a note
      tags:
        - note
      security:
        - token: []
      responses:
        default:
          $ref: "#/components/responses/Error"
        "200":
          description: Note Deleted