@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";


.todo, .todoFocused {
  display: flex;
  gap: 1rem;
  margin: $margin;
  width: 100%;
  transition: $todo-transition;
  padding: 10px;
  border-radius: $border-radius;

  &:hover {
    background-color: var(--todo-background-hover-color);
  }
}

.todoFocused {
  background-color: var(--todo-background-color)!important;
  padding: 20px 10px;
  @include box-shadow(0px, 2px, 5px, 0px, rgba(0, 0, 0, 0.264));

  .todoText {
    color: var(--inverse-text-color);
  }
}

.checkbox {
    vertical-align: middle;
}

.todoText {
  width: 100%;
  background-color: transparent;
  border-style: none;
  font-family: sans-serif;
  color: var(--text-color);
  outline: 0;
}