html,
body,
#root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#root, .app {
  background-color: #333;
  color: whitesmoke;
  position: relative;
}

.app {
  text-align: center;
  font-size: 5vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: whitesmoke;
}

a:active {
  color: gold;
  text-decoration: none;
}

a:hover {
  color: goldenrod;
  text-decoration: none;
}