*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  color: rgb(228, 230, 234);
}

$bg: #333436;

#root {
  background-color: $bg;
}

input[type="text"],
input[type="email"] {
  color: rgb(228, 230, 234);
  margin: 1rem 0;
  background-color: transparent;
  border-color: transparent;
  border-bottom: 1px solid rgb(41, 81, 211);
}
