@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.note {
  padding: 25px;
  background-color: var(--note-background);
  border-radius: $border-radius;
  color: $white;
  margin: 15px;
  overflow: hidden;
  width: 40%;
  flex-shrink: 0;
  transition: $note-transition;

  &:hover {
    background-color: var(--note-hover-background);
    @include box-shadow(0px, 2px, 5px, 0px, rgba(0, 0, 0, 0.264));
  }
}
