.button {
  font-size: clamp(0.15rem, 0.75rem + 5vw, 1rem);

  @include applyTextColor("button-bg");

  padding: 10px 15px;
  border-radius: $border-radius;
  border-style: none;
  transition: $bg-transition;
  margin: 5px;

  &:hover {
    @include applyTextColor("button-bg-hover");
    cursor: pointer;
  }

  &.normal {
    @include applyTextColor("button-bg");

    &:hover {
      @include applyTextColor("button-bg-hover");
    }
  }

  &.transparent {
    background-color: transparent;
    @include themify() {
      color: themed("text-color");
    }

    &:hover {
      background-color: transparent;
      text-decoration: underline;
    }
  }

  &.light {
    background-color: $light;
    color: $black;
    &:hover {
      background-color: scale-color($light, $lightness: -5%);
      color: $black;
    }
  }

  &.dark {
    background-color: $dark;
    color: $white;
    &:hover {
      background-color: scale-color($dark, $lightness: -5%);
      color: $white;
    }
  }
}
