.button {
  &.normal {
    @include applyTextColor("button-bg");

    &:hover {
      @include applyTextColor("button-bg-hover");
    }
  }

  &.transparent {
    background-color: transparent;
    @include themify() {
      color: themed("text-color");
    }

    &:hover {
      background-color: transparent;
      text-decoration: underline;
    }
  }

  &.light {
    background-color: $light;
    color: $black;
    &:hover {
      background-color: scale-color($light, $lightness: -5%);
    }
  }

  &.dark {
    background-color: $dark;
    color: $white;
    &:hover {
      background-color: scale-color($dark, $lightness: -5%);
    }
  }
}
