.noteCollection {
  position: relative;
  display: flex;
  overflow-x: scroll;
  font-size: $fixed-header;

  @include md {
    flex-wrap: wrap;
    overflow-x: hidden;
  }
}

.closed {
  height: 0;
  display: none;
}

.collectionTitle {
  font-size: $collectionFontSize;
  padding: $small-gap 0;
  button {
    padding: 5px;
    margin: 0px;
  }
  svg {
    font-size: $collectionFontSize;
  }
}
