.createForm {
  input {
    background-color: $modal-input-bg;
    border-bottom: 1px solid $grey;
    border-radius: $input-border-radius;

    &:focus {
      outline: none;
    }
  }

  text-align: center;

  .checkbox {
    margin: 10px;
  }

  .task {
    display: flex;
    gap: 1;
  }
}
