.header {
  @include applyTextColor("header-bg");
  @include blur($blur-amount);
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: $small-gap;
  z-index: 10;
  transition: $bg-transition;

  a {
    font-size: $fixed-header;
    position: absolute;
    bottom: $small-gap;
    right: $small-gap;
  }
}
