.navbar {
  width: 100vw;
  position: fixed;
  bottom: 0;
  z-index: 10;
}

.navbar-inner {
  @include blur($blur-amount);
  display: flex;
  justify-content: space-around;
  background-color: $navbar-bg-dark;
  border-radius: $border-radius;
  margin: 0 auto;
  margin-bottom: $large-gap;
  max-width: $nav-max-width;
  width: 90%;
  max-height: min-content;

  a {
    flex-grow: 1;
    text-align: center;
    padding: 3% 0;
    color: $light;
    font-size: $nav-link-font-size;
    border-radius: $border-radius;
    transition: $bg-transition;

    &:hover {
      background-color: $nav-link-bg-hover;
    }
  }
}

.navbar-add {
  flex-grow: 1;
  border-style: none;
  background-color: transparent !important;

  &:hover {
    background-color: $nav-add-bg;

    svg {
      background-color: $nav-add-icon-bg;
    }
  }

  svg {
    background-color: $nav-add-icon-bg;
    font-size: clamp(0.55rem, 0.75rem + 3vw, 2rem);
    padding: 25% 25%;
    border-radius: $border-radius;
    text-align: center;
    color: $black;
    @include box-shadow(0px, 2px, 5px, 0px, rgba(0, 0, 0, 0.264));
  }

  .addbuttonwrapper {
    position: relative;
    width: 100%;
  }

  .addbuttonfixed {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 47.5%;
    transform: translateY(-47.5%);
  }
}
