.noteEditor {
    .EasyMDEContainer {
        .CodeMirror {
            background-color: $dark;
            color: white;
            border: none;
        }

        .CodeMirror-cursor {
            border-left: 5px solid $caret-color;
        }
    }
    background-color: $dark;
}

.editNoteModal {
    @extend .modal;
    height: 90vh;
    max-width: 90vw;
    max-height: 80vh;
    position: fixed;
    bottom: 0;
    top: initial;
    transform: translate(-50%);
}