* {
  margin: 0;
  caret-color: $caret-color;
}

p,
h1 {
  transition: $bg-transition;
}

button {
}

input {
  @include applyTextColor("input-bg");

  width: 100%;
  margin-bottom: $large-gap;
  padding: 0;
  border-radius: $border-radius;
  border: none;
  padding: 10px 8px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  @include themify() {
    color: themed("text-color");
  }

  &:hover {
    text-decoration: underline;
  }
}
