/* Themes */

$themes: (
  light: (
    bg: $bg-light,
    text-color: $text-light,
    header-bg: $header-bg-light,
    button-bg: $button-bg-light,
    button-bg-hover: $button-bg-hover-light,
    task-bg: $task-bg-light,
    task-bg-hover: $task-bg-hover-light,
    input-bg: $input-bg-light,
    note-bg: $note-bg-light,
    note-bg-hover:$note-bg-hover-light,
    modal-bg: $modal-bg,
  ),
  dark: (
    bg: $bg-dark,
    text-color: $text-dark,
    header-bg: $header-bg-dark,
    button-bg: $button-bg-dark,
    button-bg-hover: $button-bg-hover-dark,
    task-bg: $task-bg-dark,
    task-bg-hover: $task-bg-hover-dark,
    input-bg: $input-bg-dark,
    note-bg: $note-bg-dark,
    note-bg-hover: $note-bg-hover-dark,
    modal-bg: $modal-bg,
  ),
);