/* Themes */

$themes: (
  light: (
    bg: $light,
    text-color: $black,
    header-bg: scale-color($light, $alpha: -20%),
    button-bg-hover: scale-color($button-color-light, $lightness: $darken),
    button-bg: $button-color-light,
    todo-bg-hover: $todo-color-dark,
    todo-bg: scale-color($todo-color-light, $lightness: +3%),
    input-bg: scale-color($light, $lightness: $lighten),
    note-bg: scale-color($dark, $lightness: $lighten * 0.25),
    note-bg-hover: scale-color($dark, $lightness: $lighten * 0.75),
  ),
  dark: (
    bg: $dark,
    text-color: $white,
    header-bg: scale-color($dark, $alpha: -20%),
    button-bg: $button-color-dark,
    button-bg-hover: scale-color($button-color-dark, $lightness: $lighten),
    todo-bg-hover: scale-color($todo-color-light, $lightness: $lighten),
    todo-bg: $todo-color-dark,
    input-bg: scale-color($dark, $lightness: $lighten * 0.75),
    note-bg: scale-color($dark, $lightness: $lighten * 0.25),
    note-hover-bg: scale-color($dark, $lightness: $lighten * 0.75),
  ),
);

.light {
  // --navbar-color: #{$navbar-color-light};
  --background-color: #{$light};
  --header-background-color: #{scale-color($light, $alpha: -20%)};
  --button-background-hover-color: #{scale-color($button-color-light, $lightness: $darken)};
  --button-background-color: #{$button-color-light};
  --text-color: #{$black};
  --inverse-text-color: #{$white};
  --todo-background-hover-color: #{$todo-color-dark};
  --todo-background-color: #{scale-color($todo-color-light, $lightness: +3%)};
  --input-background: #{scale-color($light, $lightness: $lighten)};
  --note-background: #{scale-color($dark, $lightness: $lighten * 0.25)};
  --note-hover-background: #{scale-color($dark, $lightness: $lighten * 0.75)};
}

.dark {
  // --navbar-color: #{$navbar-color-dark};
  --background-color: #{$dark};
  --header-background-color: #{scale-color($dark, $alpha: -20%)};
  --button-background-color: #{$button-color-dark};
  --button-background-hover-color: #{scale-color($button-color-dark, $lightness: $lighten)};
  --text-color: #{$white};
  --inverse-text-color: #{$black};
  --todo-background-hover-color: #{scale-color($todo-color-light, $lightness: $lighten)};
  --todo-background-color: #{$todo-color-dark};
  --input-background: #{scale-color($dark, $lightness: $lighten * 0.75)};
  --note-background: #{scale-color($dark, $lightness: $lighten * 0.25)};
  --note-hover-background: #{scale-color($dark, $lightness: $lighten * 0.75)};
}
