/* Themes */




$themes : (
  $light: (
    bg: $light,
    header-bg: scale-color($light, $alpha: -20%),

  ),
  $dark: (

  )
);


.light {
    // --navbar-color: #{$navbar-color-light};
    --background-color: #{$light};
    --header-background-color: #{scale-color($light, $alpha: -20%)};
    --button-background-hover-color: #{scale-color($button-color-light, $lightness: $darken)};
    --button-background-color: #{$button-color-light};
    --text-color: #{$black};
    --inverse-text-color: #{$white};
    --todo-background-hover-color: #{$todo-color-dark};
    --todo-background-color: #{scale-color($todo-color-light, $lightness: +3%)};
    --input-background: #{scale-color($light, $lightness: $lighten)};
    --note-background: #{scale-color($dark, $lightness: $lighten * 0.25)};
    --note-hover-background: #{scale-color($dark, $lightness: $lighten * 0.75)};
  }
  
  .dark {
    // --navbar-color: #{$navbar-color-dark};
    --background-color: #{$dark};
    --header-background-color: #{scale-color($dark, $alpha: -20%)};
    --button-background-color: #{$button-color-dark};
    --button-background-hover-color: #{scale-color($button-color-dark, $lightness: $lighten)};
    --text-color: #{$white};
    --inverse-text-color: #{$black};
    --todo-background-hover-color: #{scale-color($todo-color-light, $lightness: $lighten)};
    --todo-background-color: #{$todo-color-dark};
    --input-background: #{scale-color($dark, $lightness: $lighten * 0.75)};
    --note-background: #{scale-color($dark, $lightness: $lighten * 0.25)};
    --note-hover-background: #{scale-color($dark, $lightness: $lighten * 0.75)};
  }