/* Colors */
$black: black;
$white: white;
$faded-black: rgb(22, 22, 22);
$off-white: rgb(239, 239, 231);
$pastel-blue: rgb(58, 141, 223);

/* Navbar */
$navbar-color-dark: scale-color(scale-color($dark, $lightness: +3%), $alpha: -10%);
$add-button: scale-color($light, $lightness: +10%);
$nav-max-width: 600px;

/* Media Queries */
$sm-screen: 768px;
$md-screen: 992px;
$lg-screen: 1200px;

/* Misc */
$lighten: +20%;
$darken: -20%;

$border-radius: 10px;
$bg-transition: background-color 0.5s ease;
$todo-transition: $bg-transition, padding 0.25s ease-in;
$note-transition: $bg-transition;

$small-gap: 15px;
$large-gap: 25px;

$margin: $small-gap;

$content-max-width: 1250px;



.light {
  // --navbar-color: #{$navbar-color-light};
  --background-color: #{$light};
  --header-background-color: #{scale-color($light, $alpha: -20%)};
  --button-background-hover-color: #{scale-color($button-color-light, $lightness: $darken)};
  --button-background-color: #{$button-color-light};
  --text-color: #{$black};
  --inverse-text-color: #{$white};
  --todo-background-hover-color: #{$todo-color-dark};
  --todo-background-color: #{scale-color($todo-color-light, $lightness: +3%)};
  --input-background: #{scale-color($light, $lightness: $lighten)};
  --note-background: #{scale-color($dark, $lightness: $lighten * 0.25)};
  --note-hover-background: #{scale-color($dark, $lightness: $lighten * 0.75)};
}

.dark {
  // --navbar-color: #{$navbar-color-dark};
  --background-color: #{$dark};
  --header-background-color: #{scale-color($dark, $alpha: -20%)};
  --button-background-color: #{$button-color-dark};
  --button-background-hover-color: #{scale-color($button-color-dark, $lightness: $lighten)};
  --text-color: #{$white};
  --inverse-text-color: #{$black};
  --todo-background-hover-color: #{scale-color($todo-color-light, $lightness: $lighten)};
  --todo-background-color: #{$todo-color-dark};
  --input-background: #{scale-color($dark, $lightness: $lighten * 0.75)};
  --note-background: #{scale-color($dark, $lightness: $lighten * 0.25)};
  --note-hover-background: #{scale-color($dark, $lightness: $lighten * 0.75)};
}
