body {
  font-family: sans-serif;
  text-decoration: none;
  margin: 0;
  @include applyTextColor("bg");
  min-height: -webkit-fill-available;
}

.background {
  @include applyTextColor("bg");
  width: 100%;
  min-height: -webkit-fill-available;
  min-height: 100vh;
  transition: $bg-transition;
}

.main-content {
  padding: $large-gap;
  max-width: $content-max-width;
  margin: 0 auto;
  padding-top: $main-content-padding-top !important;
  background-color: inherit;

  @include md {
    padding: 5rem;
  }
}

.secondary-content {
  padding: $small-gap;
  display: block;
  overflow: hidden;
}

.secondary-content-xs {
  max-width: $secondary-content-xs-width;
  margin: 0 auto;
}

.bottom {
  position: absolute;
  bottom: $large-gap;
}

.right {
  position: absolute;
  right: $large-gap;
}

.textCenter {
  text-align: center;
}

.textRight {
  text-align: right;
}

.textLeft {
  text-align: left;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}
