@import "../../../styles/variables.scss";

.header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--header-background-color);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  z-index: 10;
}

.searchIcon {
  font-size: 2rem;
  position: absolute;
  bottom: 15px;
  right: 15px;
}
