@import "../../../styles/variables.scss";

.header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: inherit;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.searchIcon {
  font-size: 2rem;
  position: absolute;
  bottom: 15px;
  right: 15px;
}
