@import "./variables.scss";
@import "./mixins.scss";

* {
  margin: 0;
  caret-color: scale-color($pastel-blue, $lightness: +5%);
}

p,
h1 {
  transition: $theme-transition;
}

.background {
  width: 100vw;
  min-height: 100vh;
  transition: $theme-transition;
}

.light {
  color: $dark;

  &.background {
    background-color: $light;
  }
}

.dark {
  color: $light;

  &.background {
    background-color: $dark;
  }
}

.main-content {
  padding: 25px;
  max-width: $content-max-width;
  margin: 0 auto;
  padding-top: clamp(25px, 10vh, 150px) !important;
  background-color: inherit;

  @include md {
    padding: 5rem;
  }
}

.secondary-content {
  padding: 15px;
  display: block;
}

.secondary-content-xs {
  max-width: min(100vw, 650px);
  margin: 0 auto;
}

button {
  padding: 10px 15px;
  background-color: var(--button-background-color);
  color: var(--inverse-text-color);
  border-radius: $border-radius;
  border-style: none;
  transition: $theme-transition;
  margin: 5px;

  &:hover {
    background-color: var(--button-background-hover-color);
    cursor: pointer;
  }

  &.buttonLink {
    background-color: transparent;
    color: var(--text-color);

    &:hover {
      text-decoration: underline;
    }
  }
}

input {
  width: 100%;
  margin-bottom: 25px;
  padding: 0;
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.12);
  color: white;
  border: none;
  padding: 10px 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bottom {
  position: absolute;
  bottom: 25px;
}

.right {
  position: absolute;
  right: 25px;
}

.textCenter {
  text-align: center;
}

/* Page Specific */
// AuthPage
// TODO Organize this better
.authPage {
  h1 {
    text-align: center;
  }

  text-align: center;
}
