.navbar {
    width: 100vw;
    position: absolute;
    bottom: 0;

    .innerbox {
        display: flex;
        width: 90%;
        justify-content: space-around;
        background-color: rgb(22, 22, 22);
        border-radius: 15px;
        color: white;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 25px;

        a {
            color: white;
            flex-grow: 1;
            text-align: center;
            padding: 15px;
        }
        
        button {
            flex-grow: 1;
        }
    }
}