@import "../../../styles/variables.scss";

.navbar {
    width: 100vw;
    position: absolute;
    bottom: 0;
}

.innerbox {
    display: flex;
    width: 90%;
    justify-content: space-around;
    background-color: $navbar-color;
    border-radius: 15px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 25px;

    a {
        flex-grow: 1;
        text-align: center;
        padding: 15px;
        color: $light;
    }
    
    button {
        flex-grow: 1;
    }
}